.mat-dialog-content {
    overflow: visible !important;
}

.ac-container {
    display: flex;
    align-content: center;
    align-items: center;
    height: 48px;
}

.repeat-mode {
    display: flex;
    flex-direction: column;
}

.repeat-radio-group {
    margin-top: 8px;
}

.repeat-radio-button {
    margin-right: 16px;
}