<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content class="content">
  <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <span class="error" *ngIf="error">{{error}}</span>

    <mat-form-field class="form-full-width">
      <input matInput type="password" formControlName="currentPassword" placeholder="Current Password">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="password" formControlName="newPassword" placeholder="New Password">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onSubmit()">Change</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>