<div class="container">
  <mat-card class="section">
    <mat-card-subtitle>Reschedule requests you have done</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="listing-content">
      <app-loader *ngIf="!reschedules"></app-loader>
      <div class="error-view" *ngIf="reschedules && reschedules.length == 0">
        <img src="assets/images/draw/schedule.svg">
        <label>Your reschedule requests will appear here...</label>
      </div>
      <mat-accordion *ngIf="reschedules && reschedules.length > 0">
        <mat-expansion-panel *ngFor="let reschedule of reschedules" [ngClass]="reschedule.status">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ reschedule.event.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ reschedule.id }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <label>From:</label>
            {{ reschedule.oldDateTime }}
          </div>
          <div>
            <label>To:</label>
            {{ reschedule.newDateTime }}
          </div>
          <div>
            <label>Status:</label>
            {{ reschedule.status }}
          </div>
          <div>
            <label>Type:</label>
            {{ reschedule.type }}
          </div>
          <div>
            <button mat-raised-button *ngIf="reschedule.status === 'PENDING' || reschedule.status === 'DECLINED'"
              (click)="onDelete(reschedule.id)" color="primary">Delete</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>