<div class="mat-dialog-header">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Create Schedule</h1>
</div>
<div mat-dialog-content class="content">
  <form class="event-form" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <span class="error" *ngIf="error">{{error}}</span>
    <span class="warning" *ngIf="warning">{{warning}}</span>

    <div class="current-schedules">
      <label id="current-schedules-label">Current Schedules</label>
      <div *ngFor="let schedule of data.schedules">
        <span>From: </span>{{ schedule.startDateTime | date: 'short' }}
        <span>To: </span>{{ schedule.endDateTime | date: 'short' }}
        <span>Until: </span>{{ schedule.until | date: 'short' }}
      </div>
    </div>

    <mat-form-field class="form-full-width">
      <input matInput [owlDateTime]="timeStart" [owlDateTimeTrigger]="timeStart" formControlName="startDateTime"
        placeholder="Start Date/Time" autocomplete="off">
      <owl-date-time #timeStart></owl-date-time>
      <mat-icon matSuffix [owlDateTimeTrigger]="timeStart">calendar_today</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput [owlDateTime]="timeEnd" [owlDateTimeTrigger]="timeEnd" formControlName="endDateTime"
        placeholder="End Date/Time" autocomplete="off">
      <owl-date-time #timeEnd></owl-date-time>
      <mat-icon matSuffix [owlDateTimeTrigger]="timeEnd">calendar_today</mat-icon>
    </mat-form-field>
  </form>
  <div class="repeat-mode">
    <label id="repeat-radio-group-label">Repeating</label>
    <mat-radio-group aria-labelledby="repeat-radio-group-label" class="repeat-radio-group" [(ngModel)]="repeatMode">
      <mat-radio-button class="repeat-radio-button" *ngFor="let mode of repeatModes" [value]="mode">
        {{ mode | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field *ngIf="repeatMode != 'NONE'" class="form-full-width">
    <input matInput [owlDateTime]="until" [owlDateTimeTrigger]="until" [formControl]="untilForm"
      placeholder="Until start of" autocomplete="off">
    <owl-date-time [pickerType]="'calendar'" #until></owl-date-time>
    <mat-icon matSuffix [owlDateTimeTrigger]="until">calendar_today</mat-icon>
  </mat-form-field>
  <div class="location">
    <div class="location-title">Location</div>
    <div *ngIf="!selectedLocation">Haven't selected an location yet.</div>
    <button mat-flat-button color="primary" (click)="onCheckLocations()" [disabled]="!scheduleForm.valid">Check
      available locations</button>
    <mat-chip-list>
      <mat-chip *ngIf="selectedLocation" removable (removed)="onLocationRemoved()">
        {{ selectedLocation.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div *ngIf="locations.length > 0" class="avail-locations">
      <div>Available locations</div>
      <mat-chip-list>
        <mat-chip *ngFor="let location of locations" (click)="onLocationSelected(location)">
          {{ location.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!selectedLocation">Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>