.section {
    margin-top: 8px;
    min-height: 560px; 
}

.section .listing-content {
    margin-left: -16px;
    margin-right: -16px;
}

.section table {
    width: 100%;
}

.table-row {
    cursor: pointer;
}

.subject-name {
    display: flex;
    align-items: center;
}

.subject-color {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 12px;
}
