<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <button *ngIf="isAdmin" mat-flat-button color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
      CREATE
    </button>
  </mat-toolbar>
  <mat-card class="section">
    <mat-card-subtitle>Locations in the system</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="listing-content">
      <app-loader *ngIf="!displayedData"></app-loader>
      <div class="error-view" *ngIf="displayedData && displayedData.length == 0">
        <img src="assets/images/draw/locations.svg">
        <label>Locations will appear here...</label>
      </div>
      <div *ngIf="displayedData && displayedData.length > 0">
        <table mat-table [dataSource]="displayedData">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Level </th>
            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" mat-ripple class="table-row"
            [routerLink]="['/locations/listing', row.id]"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>