<h1 mat-dialog-title>Search users</h1>
<div mat-dialog-content class="content">
  <mat-form-field class="form-full-width" floatLabel="never">
    <input matInput placeholder="Search" [formControl]="search">
  </mat-form-field>
  <div class="user-list">
    <div class="user-item" *ngFor="let element of elements">
      {{ element.firstName }} {{ element.lastName }}
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item *ngFor="let role of element.roles" (click)="onSelected(element.email, role.name)">
          {{ role.name | titlecase }}
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>