<div class="user-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="section-header">Users</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <nav class="user-nav" mat-tab-nav-bar backgroundColor="primary">
    <a mat-tab-link [routerLink]="['/users/listing']" routerLinkActive #listing_rla="routerLinkActive"
      [active]="listing_rla.isActive">
      Listing
    </a>
    <!-- <a mat-tab-link [routerLink]="['/users/groups']" routerLinkActive #groups_rla="routerLinkActive"
      [active]="groups_rla.isActive">
      Groups
    </a> -->
  </nav>
  <router-outlet></router-outlet>
</div>