<div class="location-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="section-header">Locations</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <nav class="location-nav" mat-tab-nav-bar backgroundColor="primary">
    <a mat-tab-link [routerLink]="['/locations/listing']" routerLinkActive #listing_rla="routerLinkActive"
      [active]="listing_rla.isActive">
      Listing
    </a>
    <a mat-tab-link [routerLink]="['/locations/resources']" routerLinkActive #resource_rla="routerLinkActive"
      [active]="resource_rla.isActive">
      Resources
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>