<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>
      CREATE
    </button>
  </mat-toolbar>
  <mat-card class="section">
    <mat-card-subtitle>Reservation requests you have done</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="listing-content">
      <app-loader *ngIf="!reservations"></app-loader>
      <div class="error-view" *ngIf="reservations && reservations.length == 0">
        <img src="assets/images/draw/schedule.svg">
        <label>Your reservation requests will appear here...</label>
      </div>
      <mat-accordion *ngIf="reservations && reservations.length > 0">
        <mat-expansion-panel *ngFor="let reservation of reservations" [ngClass]="reservation.status">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ reservation.event }}
            </mat-panel-title>
            <mat-panel-description>
              {{ reservation.id }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <label>Start Time:</label>
            {{ reservation.startDateTime }}
          </div>
          <div>
            <label>End Time:</label>
            {{ reservation.endDateTime }}
          </div>
          <div>
            <label>Status:</label>
            {{ reservation.status }}
            <div>
              <div *ngIf="reservation.status === 'REVIEWED'">Waiting to be accepted by managerial staff
              </div>
              <div *ngIf="reservation.status === 'PENDING'">Waiting to be reviewed by academic staff</div>
            </div>
          </div>
          <div>
            <label>Location:</label>
            {{ reservation.location.name }}
          </div>
          <div>
            <button mat-raised-button *ngIf="reservation.status === 'PENDING' || reservation.status === 'DECLINED'"
              (click)="onDelete(reservation.id)" color="primary">Delete</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>