<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
      CREATE
    </button>
  </mat-toolbar>
  <mat-card class="section">
    <mat-card-subtitle>Reservation requests you have done</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="listing-content">
      <app-loader *ngIf="!reservations"></app-loader>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let reservation of reservations">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ reservation.event }}
            </mat-panel-title>
            <mat-panel-description>
              {{ reservation.id }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <label>Start Time:</label>
            {{ reservation.startDateTime }}
          </div>
          <div>
            <label>End Time:</label>
            {{ reservation.endDateTime }}
          </div>
          <div>
            <label>Status:</label>
            {{ reservation.status }}
          </div>
          <div>
            <label>Location:</label>
            {{ reservation.location.name }}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>