<div class="mat-dialog-header">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title>Create User</h1>
</div>
<div mat-dialog-content class="content">
  <form class="create-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <span class="error" *ngIf="error">{{error}}</span>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="firstName" placeholder="Firstname">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="lastName" placeholder="Lastname">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="email" formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onSubmit()">Create</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>