<div class="container">
  <mat-toolbar>
    <button [routerLink]="['/events']" mat-icon-button aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
  <div class="header">
    <div class="event-detail-container">
      <div class="mat-display-2 compact"> {{ event?.name }}</div>
      <!-- <h2 class="mat-display-1 compact">Level {{ location?.level }}</h2> -->
      <button class="edit-button" *ngIf="isAdmin" color="primary" mat-stroked-button
        (click)="onEditEvent()">Edit</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <mat-card *ngIf="event?.description" class="section">
    <mat-card-title>Infomation</mat-card-title>
    <div class="card-section-title subsection">Description</div>
    <mat-card-content>
      <p> {{event?.description}} </p>
    </mat-card-content>
    <div class="card-section-title subsection">Time</div>
    <mat-card-content>
      <div *ngIf="event?.schedules.length == 0">
        <div>Event doesn't have a schedule yet.</div>
        <button *ngIf="isAdmin" mat-button (click)="onCreateSchedule()">
          <mat-icon>add</mat-icon>
          Add Schedule
        </button>
      </div>
      <div *ngIf="event?.schedules.length > 0">
        <div *ngFor="let schedule of event.schedules" class="schedule-row">
          <div>
            {{ schedule.startDateTime | date: 'short' }} - {{ schedule.endDateTime | date: 'short' }}
          </div>
          <span class="schedule-repeat" *ngIf="schedule.repeatType != 'NONE'">&nbsp;{{ schedule.repeatType }}</span>
          <div class="schedule-location" [routerLink]="['/locations/listing/', schedule.location.id]">
            {{ schedule.location.name }}</div>
          <div class="schedule-users">
            <mat-chip-list *ngIf="schedule.users">
              <mat-chip [removable]="isAdmin" *ngFor="let user of schedule.users" (removed)="onRemoveUser(schedule, user)">
                {{ user.firstName }} {{ user.lastName }}
                <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <button *ngIf="isAdmin" mat-stroked-button color="primary" (click)="onAddUser(schedule)">
              <mat-icon>add</mat-icon>
              User
            </button>
          </div>
          <button *ngIf="isAdmin" mat-stroked-button color="warn" (click)="onRemoveSchedule(schedule)">
            <mat-icon>close</mat-icon>
            Schedule
          </button>
        </div>
      </div>
    </mat-card-content>
    <div class="card-section-title subsection">Subject</div>
    <mat-card-content>
      <div *ngIf="!event.subject">Event doesn't have a subject yet.</div>
      <mat-chip-list *ngIf="event.subject">
        <mat-chip [removable]="isAdmin" (removed)="onSubjectRemove(event.subject)">
          {{ event.subject.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div *ngIf="isAdmin" class="actions">
        <button mat-flat-button *ngIf="event.subject" (click)="onSubjectChange()">
          <mat-icon>edit</mat-icon>
          Change Subject
        </button>
        <button mat-flat-button *ngIf="!event.subject" (click)="onSubjectChange()">
          <mat-icon>add</mat-icon>
          Add Subject
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="event" class="section">
    <mat-card-title>Groups</mat-card-title>
    <mat-card-subtitle>Set groups to event</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let group of event?.groups" [removable]="isAdmin" (removed)="onGroupRemove(group)">
          {{ group.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button mat-flat-button (click)="onGroupAdd()">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isAdmin" class="section">
    <mat-card-title>Manage</mat-card-title>
    <div class="card-section-title subsection">Delete</div>
    <mat-card-content>
      <p>Remove event from the system</p>
      <button mat-flat-button color="warn" (click)="onDelete()">
        DELETE
      </button>
    </mat-card-content>
  </mat-card>
</div>