<div class="container">
  <mat-toolbar>
    <button [routerLink]="['/events']" mat-icon-button aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
  <div class="header">
    <div class="event-detail-container">
      <div class="mat-display-2 compact"> {{ event?.name }}</div>
      <!-- <h2 class="mat-display-1 compact">Level {{ location?.level }}</h2> -->
      <button class="edit-button" *ngIf="isAdmin" color="primary" mat-stroked-button
        (click)="onEditEvent()">Edit</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="top-container container">
  <mat-card *ngIf="event?.description" class="section">
    <mat-card-title>Infomation</mat-card-title>
    <div class="card-section-title subsection">Description</div>
    <mat-card-content>
      <p> {{event?.description}} </p>
    </mat-card-content>
    <div class="card-section-title subsection">Schedules</div>
    <mat-card-content>
      <div *ngIf="event?.schedules.length == 0">
        <div>Event doesn't have a schedule yet.</div>
      </div>
      <div *ngIf="event?.schedules.length > 0">
        <div *ngFor="let schedule of event.schedules" class="schedule-row">
          <div class="schedule-time">
            <label>From&nbsp;</label>
            <div>{{ schedule.startDateTime | date: 'short' }}</div>
            <label>&nbsp;to&nbsp;</label>
            <div>{{ schedule.endDateTime | date: 'short' }}</div>
            <span class="schedule-repeat" *ngIf="schedule.repeatType != 'NONE'">&nbsp;{{ schedule.repeatType }}</span>
            <label *ngIf="schedule.repeatType != 'NONE'">&nbsp;until&nbsp;</label>
            <div *ngIf="schedule.repeatType != 'NONE'">{{ schedule.until | date: 'short' }}</div>
            <button *ngIf="isAdmin" mat-icon-button color="warn" (click)="onRemoveSchedule(schedule)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="schedule-info">
            <div class="info-item" [routerLink]="['/locations/listing/', schedule.location.id]">
              <div class="info-av">
                <mat-icon>room</mat-icon>
              </div>
              <div>{{ schedule.location.name }}</div>
            </div>
            <div class="info-item-list" *ngFor="let user of schedule.users">
              <div class="info-item">
                <div class="info-av">
                  <img *ngIf="user && user.thumbnailUrl" class="info-img" [src]="user.thumbnailUrl">
                  <mat-icon *ngIf="user && !user.thumbnailUrl">person</mat-icon>
                </div>
                <div>{{ user.firstName }} {{ user.lastName }}</div>
                <button *ngIf="isAdmin" mat-icon-button class="user-remove" color="warn" (click)="onRemoveUser(schedule, user)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
            <mat-chip *ngIf="isAdmin" class="schedule-assign-user" [removable]="true" (click)="onAddUser(schedule)"
              (removed)="onAddUser(schedule)">
              Assign
              <mat-icon matChipRemove *ngIf="true">add</mat-icon>
            </mat-chip>
          </div>
        </div>
      </div>
      <div class="actions">
        <button *ngIf="isAdmin" mat-stroked-button (click)="onCreateSchedule()">
          <mat-icon>add</mat-icon>
          Add Schedule
        </button>
      </div>
    </mat-card-content>
    <div class="card-section-title subsection">Subject</div>
    <mat-card-content>
      <div *ngIf="!event.subject">Event doesn't have a subject yet.</div>
      <mat-chip-list *ngIf="event.subject">
        <mat-chip [style.background-color]="event.subject.color" [removable]="isAdmin"
          (removed)="onSubjectRemove(event.subject)">
          {{ event.subject.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div *ngIf="isAdmin" class="actions">
        <button mat-stroked-button *ngIf="event.subject" (click)="onSubjectChange()">
          <mat-icon>edit</mat-icon>
          Change Subject
        </button>
        <button mat-stroked-button *ngIf="!event.subject" (click)="onSubjectChange()">
          <mat-icon>add</mat-icon>
          Add Subject
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="event" class="section">
    <mat-card-title>Groups</mat-card-title>
    <mat-card-subtitle>Set groups to event</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let group of event?.groups" [removable]="isAdmin" (removed)="onGroupRemove(group)">
          {{ group.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button mat-flat-button (click)="onGroupAdd()">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isAdmin" class="section">
    <mat-card-title>Manage</mat-card-title>
    <div class="card-section-title subsection">Delete</div>
    <mat-card-content>
      <p>Remove event from the system</p>
      <button mat-flat-button color="warn" (click)="onDelete()">
        DELETE
      </button>
    </mat-card-content>
  </mat-card>
</div>