.top-container {
    padding-bottom: 5rem;
}

.header {
    padding: 1rem 1rem 2rem 1rem;
}

.compact {
    margin: 0 !important;
}

.edit-button {
    margin-top: 16px;
}

.section {
    margin-top: 2rem;
}

.section-inline {
    display: inline-block;
}

.section .subsection {
    padding-top: 16px;
}

.section .actions .material-icons {
    font-size: 21px;
}

.section .actions {
    font-size: 21px;
}

.role-item-role {
    font-weight: 600;
    margin-right: 8px;
}

.repeat-mode {
    font-weight: 500;
}

// Schedule styles
.schedule-row {
    display: flex;
    align-items: center;
}

.schedule-repeat {
    font-weight: 600;
}

.schedule-location {
    background-color: grey;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 8px;
    cursor: pointer;
}

.schedule-users {
    display: flex;
}

.schedule-assign-user {
    margin-left: 8px;
}