<div class="container">
  <mat-toolbar>
    <button [routerLink]="['/events']" mat-icon-button aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
  <div class="header">
    <div class="event-detail-container">
      <div class="mat-display-2 compact"> {{ event?.name }}</div>
      <!-- <h2 class="mat-display-1 compact">Level {{ location?.level }}</h2> -->
      <button class="edit-button" *ngIf="isAdmin" color="primary" mat-stroked-button
        (click)="onEditEvent()">Edit</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <mat-card *ngIf="event?.description" class="section">
    <mat-card-title>Infomation</mat-card-title>
    <div class="card-section-title subsection">Description</div>
    <mat-card-content>
      <p> {{event?.description}} </p>
    </mat-card-content>
    <div class="card-section-title subsection">Time</div>
    <mat-card-content>
      <p> {{event?.startDateTime | date : 'short'}} - {{event?.endDateTime | date : 'short'}} </p>
    </mat-card-content>
    <div class="card-section-title subsection">Location</div>
    <mat-card-content>
      <p *ngIf="!event?.location"> No location selected yet </p>
      <mat-chip-list *ngIf="event?.location">
        <mat-chip [removable]="isAdmin" (removed)="onLocationRemove(event.location)">
          {{ event.location.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <div class="card-section-title subsection">Subject</div>
    <mat-card-content>
      <div *ngIf="!event.subject">Event doesn't have a subject yet.</div>
      <mat-chip-list *ngIf="event.subject">
        <mat-chip [removable]="isAdmin" (removed)="onSubjectRemove(event.subject)">
          {{ event.subject.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button mat-flat-button *ngIf="event.location" (click)="onLocationChange()">
        <mat-icon>edit</mat-icon>
        Change Location
      </button>
      <button mat-flat-button *ngIf="!event.location" (click)="onLocationChange()">
        <mat-icon>add</mat-icon>
        Add Location
      </button>
      <button mat-flat-button *ngIf="event.subject" (click)="onSubjectChange()">
        <mat-icon>edit</mat-icon>
        Change Subject
      </button>
      <button mat-flat-button *ngIf="!event.subject" (click)="onSubjectChange()">
        <mat-icon>add</mat-icon>
        Add Subject
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="event" class="section">
    <mat-card-title>Assignments</mat-card-title>
    <mat-card-subtitle>Set users to event</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip class="role-item" *ngFor="let assignment of assignments" [removable]="isAdmin" (removed)="onAssignmentRemove(assignment.id)">
          <div class="role-item-role">
            {{ assignment.role | titlecase }}
          </div>
          {{ assignment.user.firstName }} {{ assignment.user.lastName }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button mat-flat-button (click)="onAssignmentAdd()">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="event" class="section">
    <mat-card-title>Groups</mat-card-title>
    <mat-card-subtitle>Set groups to event</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let group of event?.groups" [removable]="isAdmin" (removed)="onGroupRemove(group)">
          {{ group.name }}
          <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button mat-flat-button (click)="onGroupAdd()">
        <mat-icon>add</mat-icon>
        ADD
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isAdmin" class="section">
    <mat-card-title>Manage</mat-card-title>
    <div class="card-section-title subsection">Delete</div>
    <mat-card-content>
      <p>Remove event from the system</p>
      <button mat-flat-button color="warn" (click)="onDelete()">
        DELETE
      </button>
    </mat-card-content>
  </mat-card>
</div>