<div class="container">
  <mat-toolbar>
    <h1>Profile</h1>
  </mat-toolbar>
  <div class="header">
    <div class="avatar-container">
      <img *ngIf="user?.avatarUrl" class="avatar" [src]="user?.avatarUrl">
    </div>
    <div class="user-detail-container">
      <div class="mat-display-2 compact"> {{ user?.firstName }}</div>
      <h2 class="mat-display-1 compact">{{ user?.lastName }}</h2>
      <div>{{ user?.email }}</div>
      <button class="edit-button" mat-stroked-button color="primary" (click)="onEditProfile()">Edit</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <mat-card *ngIf="user?.bio" class="section">
    <mat-card-title>Bio</mat-card-title>
    <!-- <mat-card-subtitle>Roles assign to you</mat-card-subtitle> -->
    <mat-card-content>
      <p>
        {{user?.bio}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="section">
    <mat-card-title>Roles</mat-card-title>
    <mat-card-subtitle>Roles assign to you</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let userRole of user?.roles">
          {{ userRole }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>