<div class="container">
  <div class="header">
    <div class="avatar-container" (click)="onChangeAvatar()">
      <img *ngIf="user?.avatarUrl" class="avatar" [src]="user?.avatarUrl">
      <div class="avatar-hover">
        <mat-icon>camera_alt</mat-icon>
      </div>
    </div>
    <div class="user-detail-container">
      <div class="mat-display-2 compact"> {{ user?.firstName }}</div>
      <h2 class="mat-display-1 compact">{{ user?.lastName }}</h2>
      <div>{{ user?.email }}</div>
      <button class="edit-button" mat-stroked-button color="primary" (click)="onEditProfile()">Edit</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <mat-card *ngIf="user?.bio" class="section">
    <mat-card-title>Bio</mat-card-title>
    <mat-card-content>
      <p>
        {{user?.bio}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="section">
    <mat-card-title>Roles</mat-card-title>
    <mat-card-subtitle>Roles assigned to you</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let userRole of user?.roles">
          {{ userRole.name | titlecase }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="section">
    <mat-card-title>Settings</mat-card-title>
    <div class="card-section-title">Account Password</div>
    <mat-card-content>
      <p>Change account sign-in password.</p>
      <button mat-flat-button color="primary" (click)="onChangePassword()">
        Create new password
      </button>
    </mat-card-content>
  </mat-card>
</div>