<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title *ngIf="isProfile">Edit Profile</h1>
<h1 mat-dialog-title *ngIf="!isProfile">Edit User</h1>
<div mat-dialog-content class="content">
  <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <span class="error" *ngIf="error">{{error}}</span>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="firstName" placeholder="Firstname">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="lastName" placeholder="Lastname">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="email" formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field *ngIf="isProfile" class="form-full-width">
      <textarea matInput formControlName="bio" placeholder="Bio"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>