<div class="mat-dialog-header">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <h1 mat-dialog-title *ngIf="!isEditing">Create Location</h1>
  <h1 mat-dialog-title *ngIf="isEditing">Edit Location</h1>
</div>
<div mat-dialog-content class="content">
  <form class="location-form" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <span class="error" *ngIf="error">{{error}}</span>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="level" placeholder="Level">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput type="text" formControlName="description" placeholder="Description">
    </mat-form-field>

    <div class="ac-container">
      <mat-checkbox class="ac" formControlName="ac">Air Condition Available</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onSubmit()">Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>