<div class="row">
  <div class="col-4"></div>
  <mat-card elevation="5" class="col-4 login-card">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle class="error" *ngIf="error">{{ error }}</mat-card-subtitle>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput type="text" formControlName="username" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="col-4"></div>
</div>