.mat-dialog-content {
    overflow: visible !important;
}

.reschedule-type {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.radio-group {
    margin-top: 8px;
}

.radio-button {
    margin-right: 16px;
}