.mat-dialog-content {
    overflow: visible !important;
}

.repeat-mode {
    display: flex;
    flex-direction: column;
}

.repeat-radio-group {
    margin-top: 8px;
}

.repeat-radio-button {
    margin-right: 16px;
}