.tos-container {
    margin-top: 3rem;
}

.tos iframe {
    width: 100%;
    height: 560px;
    border: none;
}

.compact {
    margin-bottom: 1rem !important;
}

.title {
    margin-top: 3rem;
}

.activate-button {
    float: right;
    margin-top: 2rem;
}