<div class="header">
    <button [routerLink]="['/users']" mat-icon-button aria-label="Back">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="mat-display-2 compact"> {{ user?.firstName }}</div>
    <h2 class="mat-display-1 compact">{{ user?.lastName }}</h2>
    <div>{{ user?.email }}</div>
</div>
<mat-divider></mat-divider>
<mat-card class="container roles-card">
    <mat-card-title>Roles</mat-card-title>
    <mat-card-subtitle>Assign user roles</mat-card-subtitle>
    <mat-card-content>
        <mat-chip-list>
            <mat-chip *ngFor="let userRole of user?.roles" [removable]="isAdmin" (removed)="onRoleRemove(userRole)">
                {{ userRole }}
                <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
        <button mat-flat-button (click)="onRoleAdd()">
            <mat-icon>add</mat-icon>
            Add
        </button>
    </mat-card-actions>
</mat-card>