.header {
    padding: 1rem 2rem 2rem 2rem;
}

.compact {
    margin: 0 !important;
}

.section {
    margin-top: 2rem;
}

.section-inline {
    display: inline-block;
}

.section .subsection {
    padding-top: 16px;
}

.section .actions .material-icons {
    font-size: 21px;
}

.section .actions {
    font-size: 21px;
}
