<div class="container">
    <mat-toolbar>
        <button [routerLink]="['/users']" mat-icon-button aria-label="Back">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar>
    <div class="header">
        <div class="avatar-container">
            <img *ngIf="user?.avatarUrl" class="avatar" [src]="user?.avatarUrl">
        </div>
        <div class="user-detail-container">
            <div class="mat-display-2 compact"> {{ user?.firstName }}</div>
            <h2 class="mat-display-1 compact">{{ user?.lastName }}</h2>
            <div>{{ user?.email }}</div>
            <button class="edit-button" *ngIf="isAdmin" color="primary" mat-stroked-button
                (click)="onEditProfile()">Edit</button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container">
    <mat-card *ngIf="user?.bio" class="section">
        <mat-card-title>Bio</mat-card-title>
        <mat-card-content>
            <p>
                {{user?.bio}}
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="section">
        <mat-card-title>Roles</mat-card-title>
        <mat-card-subtitle>Assigned user roles</mat-card-subtitle>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip *ngFor="let userRole of user?.roles" [removable]="isAdmin" (removed)="onRoleRemove(userRole.id)">
                    {{ userRole.name | titlecase }}
                    <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions *ngIf="isAdmin" class="actions">
            <button mat-flat-button (click)="onRoleAdd()">
                <mat-icon>add</mat-icon>
                ADD
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="section">
        <mat-card-title>Groups</mat-card-title>
        <mat-card-subtitle>Groups user are in</mat-card-subtitle>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip *ngFor="let group of user?.groups" [removable]="isAdmin" (removed)="onGroupRemove(group.id)">
                    {{ group.name }}
                    <mat-icon matChipRemove *ngIf="isAdmin">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions *ngIf="isAdmin" class="actions">
            <button mat-flat-button (click)="onGroupAdd()">
                <mat-icon>add</mat-icon>
                ADD
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="isAdmin" class="section">
        <mat-card-title>Manage</mat-card-title>
        <div class="card-section-title">Block</div>
        <mat-card-content>
            <p>User is currently
                <span *ngIf="user?.enabled">enabled.</span>
                <span *ngIf="!user?.enabled">blocked.</span>
            </p>
            <button *ngIf="user?.enabled" mat-flat-button color="warn" (click)="onSetEnable(false)">
                BLOCK
            </button>
            <button *ngIf="!user?.enabled" mat-flat-button color="primary" (click)="onSetEnable(true)">
                UNBLOCK
            </button>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div class="card-section-title subsection">Delete</div>
        <mat-card-content>
            <p>Remove user from the system</p>
            <button mat-flat-button color="warn" (click)="onDelete()">
                DELETE
            </button>
        </mat-card-content>
    </mat-card>
</div>