.top-container {
    margin-bottom: 5rem;
}

.header {
    padding: 1rem 1rem 2rem 1rem;
}

.avatar-container {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    width: 196px;
    height: 196px;
    background-color: #efefef;
}

.avatar-container img {
    width: 196px;
    height: 196px;
    object-fit: cover;
}

.user-detail-container {
    display: inline-block;
    position: relative;
    top: -32px;
    left: 24px;
}

.compact {
    margin: 0 !important;
}

.edit-button {
    margin-top: 16px;
}

.current-event {
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.avail-icon {
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.avail-yes {
    background-color: lightgreen;
}

.avail-not {
    background-color: crimson;
}

.avail-tag {
    color: grey;
}

.current-event div {
    margin-right: 8px;
    font-size: 16px;
}

.section {
    margin-top: 2rem;
}

.section-inline {
    display: inline-block;
}

.section .subsection {
    padding-top: 16px;
}

.section .actions .material-icons {
    font-size: 21px;
}

.section .actions {
    font-size: 21px;
}
