.user-detail {
  margin-right: 16px;
  text-decoration: none;
  color: white;
}

.active {
  color: blue;
}

.main-container {
  height: 100%;
}

.side-nav {
  width: 240px;
}

.selected {
  background-color: #f5f5f5;
}