.side-nav-header {
  display: flex;
  padding: 16px 16px;
  padding-bottom: 8px;
}

.side-nav-header .logo-icon {
  height: 42px;
  margin: auto 0;
}

.side-nav-header .logo-text {
  margin-left: 6px;
  font-size: 24px;
  color: #555 !important;
}

.main-container {
  height: 100%;
}

.content-container .content {
  padding-bottom: 4rem;
}

.side-nav {
  width: 280px;
}

.side-nav .title {
  color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
  font-weight: 600;
  padding: 20px 24px 0px 24px;
  text-transform: uppercase;
}

.selected {
  background-color: #eeeeee;
}

.thumbnail-container {
  position: relative;
  padding: 0 !important;
  margin-left: 4px;
  width: 28px !important;
  height: 28px !important;
  overflow: hidden;
}

.thumbnail {
  position: absolute;
  width: 100%;
}