<mat-toolbar color="primary">
  <h1>aion</h1>
  <span class="spacer"></span>
  <a *ngIf="!!user" class="user-detail" [routerLink]="['/profile/']">
    <span>{{ user?.firstName }} {{ user?.lastName }}</span>
  </a>
  <button mat-flat-button (click)=" logout()">Logout</button>
</mat-toolbar>
<mat-drawer-container class="main-container">
  <mat-drawer class="side-nav" mode="side" opened>
    <mat-nav-list class="side-top-nav">
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="selected"> Home </a>
      <a mat-list-item [routerLink]="['/users']" routerLinkActive="selected"> Users </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!!user" class="side-bottom-nav">
      <a mat-list-item [routerLink]="['/profile/']" routerLinkActive="selected"> Profile </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>