/* You can add global styles to this file, and also import other style files */
@import "assets/scss/theme.scss";
@import "assets/css/simple-grid.scss";

* {
  font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
}

.error {
  color: red;
}

.spacer {
  flex: 1 1 auto;
}

.card-section-title {
  color: rgba(0, 0, 0, 0.38);
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0px;
  text-transform: uppercase;
}

.form-full-width {
  width: 100%;
}